@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.center-div {
          width: 50%; /* Or any desired width */
          margin: 0 auto; /* 0 for top and bottom, auto for left and right */
        }

.container {
          display: flex;
          justify-content: center; /* Horizontal alignment */
          align-items: center; /* Vertical alignment (optional) */
          height: 100vh; /* Or any desired height */
        }